
h1, h2, p, a {
    font-family: helvetica;
    color: rgb(199, 199, 199);
}

h1, h2 {
    margin-left: 100px;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Add this line to center-align the message vertically */
}
  
canvas {
    display: block;
    position: absolute;
    top: 400px; /* Place canvas at the vertical center of the screen */
    left: 50%; /* Place canvas at the horizontal center of the screen */
    transform: translate(-50%, -50%)
}

.link-box {
    padding: 10px;
    margin: 10px;
    border: 1px solid #bcbcbc;
    width: 200px;
    margin-left: 100px;
    
}

  
#message {
    position: absolute;
    right: 70%;
    transform: translateX(-50%);
    z-index: 1; /* Ensure the message appears above the canvas */
}